<?xml version="1.0"?>
<model>
  <name>charging_robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>student</name>
    <email>student@example.com</email>
  </author>
  <description>Simple orange cylinder model for the charging robot.</description>
</model>
